<hr />
<footer class="text-center">
	<ul class="list-unstyled  list-inline">
		<li><small>©2015 <strong>Pinteresting</strong></small></li>
		<li><small><%= link_to "Home" , root_path %></small></li>
		<li><small><%= link_to "About" , about_path %></small></li>
		<li><small><%= link_to "Contact us" , "#" %></small></li>
	</ul>
</footer>